/10month.xlsx
/11month.xlsx
/devCalc.pyc
/getkairosdata.pyc
/getSQL2XML.pyc
/my.log
/MySQL.err
/MySQL.info
/windtypePara-nx.json
/windtypePara.json
/windtypeParaUpdate.pyc
/xy_devStCalc-nx.xml
/xy_devStCalc.xml
/__pycache__